<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout charset="GBK" pattern="[%-5p] %d %c ==> %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="CONSOLE" />
        </Root>
        <logger name="java.sql" level="debug" additivity="false">
            <AppenderRef ref="CONSOLE"></AppenderRef>
        </logger>
        <logger name="com.itcoder" level="info" additivity="false">
            <AppenderRef ref="CONSOLE"></AppenderRef>
        </logger>
        <logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE"></AppenderRef>
        </logger>
        <logger name="org.mybatis" level="info" additivity="false">
            <AppenderRef ref="CONSOLE"></AppenderRef>
        </logger>
    </Loggers>
</configuration>